#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.google-sans {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.tl {
  display: flex;
  font-size: 40px;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 1em;
  justify-content: space-between;
}

.sections {
  display: flex;
  font-size: 20px;
  align-items: center;
  gap: 25px;
  padding: 3em;
}

.logo {
  height: 50px;
  width: 50px;
  margin: 25px;
}

@media (prefers-color-scheme: dark) {
  .darkMode {
    display: none;
  }

  .lightMode {
    display: inline;
  }
}

@media (prefers-color-scheme: light) {
  .darkMode {
    display: inline;
  }

  .lightMode {
    display: none;
  }
}

.txtColor {
  color: #6367e5;
}

.tlgif{
  height: 50px;
  width: 50px;
}

.photo{
  height: 300px;
  width: 300px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
